{% extends "layout.html" %}
{% block content %}
<html>

    <body>

    <div class="box center">
    <div class="content-section h5" align='center'>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 h3" style="color:white">Log In</legend>
                <div class="form-group h4" style="color:white">

                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}<br>
                        {{ form.email(class="form-group is-invalid") }}
                        <div class="invalid-feedback" align='center'>
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}<br>
                        {{ form.email(class="form-control-sm") }}
                    {% endif %}
                </div>
                <div class="form-group h4" align='center' style="color:white">
                    {{ form.pwd.label(class="form-control-label") }}
                    {% if form.pwd.errors %}
                        {{ form.pwd(class="form-group is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.pwd.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}<br>
                        {{ form.pwd(class="form-control-sm") }}
                    {% endif %}
                </div><!--
                --><div class="form-check" style="color:white">
                    {{ form.remember(class="form-check-input") }}
                    {{ form.remember.label(class="form-check-label") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn success") }}
            </div>
            <small class="text-muted ml-2 h5">
                <a href="#"><font color="black"><strong>Forgot Password?</strong></font></a>
            </small>
        </form>
    </div>
    <div class="border-top mb-3" align='center'>
        <small class="h5">
            <font color="white">Need An Account?</font> <a class="ml-2" href="{{ url_for('register') }}"><font color="black"><strong>Sign Up Now</strong></a>
        </small>
    </div>
</div>
</body>
</html>
{% endblock content %}