

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.trans {
  transition: width 2s, height 2s, transform 2s;
}
.trans:hover {
  width: 300px;
  height: 300px;
  transform: rotate(180deg);
}

.wrapper {
background: #87CEFA;
}


.wrapper .team {
  width: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.wrapper .team .team_member {
  width: 425px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  padding: 10px;
}

.wrapper .team .team_member img {
  width: 80px;
}

.wrapper .team .team_member h3 {
  color: #444;
}

.wrapper .team .team_member span {
  font-size: 12px;
  color: #999;
}

.wrapper .team .team_member p {
  margin: 15px 0;
}
