
body{
    background-color: #121212;
    height: 100%;
    margin: 0;
}

html{

    height: 100%;
    background-size: cover;
}

div, button{
    font-family:'Raleway';
    font-size: 15px;
}

#localVideo {
    top: 10%;
}

#remoteVideo {
    top: 40%;
}

video {
    position: absolute;
    left: 30%;
    z-index: -1;
    transform: scale(-1, 1);        
    -webkit-transform: scale(-1, 1);
}

canvas{
    position: absolute;
    top: 10%;
    left: 30%;
    z-index: 1;
}

#chatBar {
    position: absolute;
    top: 0;
    right: 0;
    width: 45vw;
    height: 100vh;
    padding: 0;
    background-color: #262626;
    overflow: auto;
    /* Hide scrollbar */
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
    overflow-x: visible;
}


#msgBar {
    position: relative;
    width: 100%; 
    height: 10%;
}


input {
    font-size: 18px; 
    border-radius: 5px; 
    border: 1px solid #4d4d4d;
    background-color: #4d4d4d;
    color: white;
    opacity: 87%;
}


label {
    font-size: 18px;
    color: white;
    opacity: 87%;
}

#topRecv {
    background-color: #2196F3;
    position: relative;
    height: 5%;
    width: 100%; 
    text-align: center; 
    color: white;
    opacity: 87%;
}

#topRecvContent{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: large;
}

#messages {
    position: relative;
    overflow: auto;
    height: 85%;
}

.msgContainer {
    position: relative;
    margin-top: 5px;
}

span {
    background-color: #4d4d4d;
    padding: 10px;
    border-radius: 5px;
    color: white;
    opacity: 87%;
    /*box-shadow: 0 0 5px 2px #4d4d4d;*/
}

span:hover {
    box-shadow: 0 0 5px 2px #4d4d4d;
}

.localText{ 
    background-color: #2196F3;
    display: inline-block;
    border-top-right-radius: 0;
    position: absolute;
    right: 2%;
    max-width: 62%;
    white-space: initial;
}

.localTextEmpty {
    border-top-right-radius: 0;
    position: absolute;
    right: 2%;
    width: 0;
    padding: 0;
}

.localImg {
    background-color: #2196F3;
    position: absolute;
    right: 2%;
    max-width: 62%;
    border-radius: 5px 0 5px 5px;
    padding: 10px;
}

.localText::before {
    content: "";
    width: 0px;
    height: 0px;
    display: block;
    border-left: 5px solid #2196F3;
    border-right: 5px solid transparent;
    border-top: 5px solid #2196F3;
    border-bottom: 5px solid transparent;
    position: absolute;
    top: 0px;
    right: -10px;
}

.localTextEmpty::before {
    content: "";
    width: 0px;
    height: 0px;
    display: block;
    border-left: 5px solid #2196F3;
    border-right: 5px solid transparent;
    border-top: 5px solid #2196F3;
    border-bottom: 5px solid transparent;
    position: absolute;
    top: 0px;
    right: -10px;
}

.remoteText {
    display: inline-block; 
    position: absolute;
    border-top-left-radius: 0;
    left: 2%;
    max-width: 62%;
    white-space: initial;
}

.remoteTextEmpty {
    border-top-right-radius: 0;
    position: absolute;
    left: 2%;
    width: 0;
    padding: 0;
}

.remoteImg {
    background-color: #4d4d4d;
    position: absolute;
    left: 2%;
    max-width: 62%;
    border-radius: 0 5px 5px 5px;
    padding: 10px;
}

.remoteText::before {
    content: "";
    width: 0px;
    height: 0px;
    display: block;
    border-left: 5px solid transparent;
    border-right: 5px solid #4d4d4d;
    border-top: 5px solid #4d4d4d;
    border-bottom: 5px solid transparent;
    position: absolute;
    top: 0px;
    left: -10px;
}

.remoteTextEmpty::before {
    content: "";
    width: 0px;
    height: 0px;
    display: block;
    border-left: 5px solid transparent;
    border-right: 5px solid #4d4d4d;
    border-top: 5px solid #4d4d4d;
    border-bottom: 5px solid transparent;
    position: absolute;
    top: 0px;
    left: -10px;
}

.btn {
    border: none;
    color: white;
    opacity: 87%;
    padding: 10px;
    font-size: 18px;
}

.info {background-color: #2196F3; } /*blue*/
.info:hover {background: #0b7dda; }

.success { background-color: #4CAF50; } /*green*/
.success:hover {background-color: #46a049; }

.send {
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    padding: 4.5px 0;
    width: 5%;
    left: 3%;
}

.gestureHelp {
    position:absolute; 
    left: 22%; 
    top: 75%;
    width: 12%; 
    border-radius: 7px;
    padding: 6px;
}

.attach {
    /* transform: rotate(90deg); */
    position: relative;
    cursor: pointer;
    width: 5%;
    border-radius: 5px;
    padding: 5px 0;
    left: 1%;
}

textarea {
    position: relative;
    padding: 8px 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #4d4d4d;
    background-color: #4d4d4d;
    color: white;
    opacity: 87%;
    width: 85%;
    left: 2%;
}

#myMessage {
    resize: none; 
    font-family:'Raleway'; 
    font-size: 16px;
}

button:focus{
    outline: none;
}

/*scrollbar stuff*/
/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 0px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #262626;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #262626;
    border-radius: 7px;
  }
  
  /* Track on Hover */
  ::-webkit-scrollbar-track:hover {
      background: #404040;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #121212;
  }

  /*hide scrollbar for chrome*/
  #chatBar::-webkit-scrollbar {
    display: none;
   }

   @media only screen and (max-height: 550px) {
       
    #topRecvContent {
        margin: 0px;
        padding: 0px;
        font-size: medium;
       }

    textarea {
        position: relative;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 1px solid #4d4d4d;
        background-color: #4d4d4d;
        color: white;
        opacity: 87%;
        width: 80%;
    }
  }

  @media only screen and (max-height: 400px) {
    #topRecvContent {
     margin: 0px;
     padding: 0px;
     font-size: small;
    }
}


.flexbox {
    position: relative;
    display: flex;
    flex-direction: row;
    top: 5%;
    border: 1px solid blanchedalmond;
}