body{
    background-color: /*#1b262c*/#121212;
}

html{

    height: 100%;
    background-size: cover;
    /*background: url("https://srv4.imgonline.com.ua/result_img/imgonline-com-ua-Resize-L0tBlPdXiUEl.jpg") no-repeat center center fixed;
*/}

div, button{
    font-family:'Raleway';
    font-size: 15px;
}
video {
    position: absolute;
    top:6%;
    left:3%;
    z-index: -1;
    /*Mirror the local video */
    transform: scale(-1, 1);            /*For Firefox (& IE) */
    -webkit-transform: scale(-1, 1);     /*for Chrome & Opera (& Safari) */
}
canvas{
    position: absolute;
    top: 6%;
    left: 3%;
    z-index: 1;
}

#msgBar {
    position: absolute;
    left: 57%;
    width: 39%;
    background-color: #262626;
    top: 68%;
    border-radius: 10px;
    padding: 10px;
}

#chatBar {
    position: absolute;
    left: 57%;
    width: 39%;
    height: 58%;  
    padding: 10px;
    top: 6%;
    border-radius: 10px;
    background-color: #262626;
    overflow: auto;
    /* Hide scrollbar */
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
    overflow-x: visible;
}

input {
    font-size: 18px; 
    border-radius: 5px; 
    border: 1px solid #4d4d4d;
    background-color: #4d4d4d;
    color: white;
    opacity: 87%;
}

label {
    font-size: 18px;
    color: white;
    opacity: 87%;
}

#topRecv {
    background-color: #2196F3;
    position: absolute;
    left: 0; 
    top: 0; 
    width: 100%; 
    text-align: center; 
    font-size: large;
    color: white;
    opacity: 87%;
    margin-top: 0px;
    padding-top: 2.4%;
    padding-bottom: 2.4%;
}

#topRecvContent{
    margin: 0px;
    padding: 0px;
}

#messages {
    position: relative;
    height: 86%; 
    overflow: auto; 
    margin-bottom: 5px;
    top: 10%;
    padding-top: 6px;
    margin-top: 1%;
}

.msgContainer {
    position: relative;
    margin-top: 5px;
}

span {
    background-color: #4d4d4d;
    padding: 10px;
    border-radius: 5px;
    color: white;
    opacity: 87%;
    /*box-shadow: 0 0 5px 2px #4d4d4d;*/
}

span:hover {
    box-shadow: 0 0 5px 2px #4d4d4d;
}

.localText{ 
    position: absolute;
    left: 53%;
    width: 42%;  
    white-space: initial;
    display: inline-block;
}

.remoteText{
    display: inline-block; 
    position: absolute;
    left: 2%;
    width: 42%;
}

.btn {
    border: none;
    color: white;
    opacity: 87%;
    padding: 10px;
    font-size: 18px;

}

.info {background-color: #2196F3; } /*blue*/
.info:hover {background: #0b7dda; }

.success { background-color: #4CAF50; } /*green*/
.success:hover {background-color: #46a049; }

.send {
    cursor: pointer;
    border-radius: 45%;
    position: absolute; 
    left: 84%; 
    top: 35%; 
    width: 10%;
}

.gestureHelp {
    position:absolute; 
    left:22%; 
    top: 75%;
    width: 12%; 
    border-radius: 7px;
    padding: 6px;
}

textarea {
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #4d4d4d;
    background-color: #4d4d4d;
    color: white;
    opacity: 87%;
    width: 80%;
    height: 100%;
}

#myMessage {
    resize: none; 
    font-family:'Raleway'; 
    font-size: 18px;
}

button:focus{
    outline: none;
}

/*scrollbar stuff*/
/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 0px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #262626;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #262626;
    border-radius: 7px;
  }
  
  /* Track on Hover */
  ::-webkit-scrollbar-track:hover {
      background: #404040;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #121212;
  }

  /*hide scrollbar for chrome*/
  #chatBar::-webkit-scrollbar {
    display: none;
   }